@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}
/* * Common CSS * */
li {
  list-style: none;
  font-weight: 500;
}
a {
  text-decoration: none;
  color: #424242;
  font-size: 1em;
}
img {
  width: 100%;
}
main {
  padding: 1em;
}
header {
  background: #ff900e1a;
}
.section {
  padding: 4em 0;
}
.btn-primary {
  font-size: 1.5em;
  padding: 0.5em 1em;
  background-color: #ff900e;
  color: #fff;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}
.desc {
  color: #727272;
  font-size: 1em;
  font-weight: 400;
  line-height: 26px;
  padding: 1.3em 0;
}
.primary {
  color: #ff900e;
  display: block;
}
.section-title {
  font-weight: 600;
  font-size: 2em;
  color: #131313;
}

/* ** Header Section ** */
.head-section,
.hero-section,
main {
  max-width: 1250px;
  margin: 0 auto;
}
.head-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.3em 0;
}
.logo h3 {
  font-size: 2em;
  font-weight: 700;
}
.navbar ul {
  display: flex;
  align-items: center;
  gap: 2em;
}
.navbar ul li a {
  padding: 1em 1.3em;
  border-radius: 5px;
}
.navbar ul li a:hover {
  background-color: #ff900e;
  color: #fff;
}
.hero-section {
  padding-top: 2em;
}
.hero-details {
  text-align: center;
  width: 50%;
  padding: 2em 0;
  margin: 0 auto;
}
.hero-title {
  font-size: 3em;
  font-weight: 700;
}
.hero-desc {
  font-size: 1em;
  font-weight: 400;
  padding: 1em 0;
  color: #727272;
  line-height: 26px;
}

/* ** About us section ** */
.about-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4em;
}
.about-img {
  flex: 1.5;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5em;
}
.about-img img {
  cursor: pointer;
  transition: 0.5s;
}
.about-img img:hover {
  transform: scale(1.1);
}
.about-details {
  flex: 1;
}

/* ** Features section ** */
.features-section {
  display: flex;
  justify-content: space-between;
  gap: 3em;
}
.features-details {
  flex: 0.8;
}
.features-img {
  flex: 1.1;
}

.special-title {
  padding: 0 1em;
  border-left: 5px solid #ff900e;
}
.features {
  padding: 2em;
}

.feature-title {
  font-size: 1.3em;
}
.feature {
  padding: 2em 0;
}
.feature .desc {
  padding: 0.4em 0;
}
.features-img {
  position: relative;
}
.features-img .btn-primary {
  font-size: 3em;
  font-weight: 700;
  position: absolute;
  left: -1em;
  bottom: -0.1em;
}
.features-img .btn-primary small {
  display: block;
  font-weight: normal;
  font-size: 0.3em !important;
}

/* ** Experiences Section ** */
.experience-head {
  width: 40%;
}
.experiences {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5em;
  padding: 6em 2em 0 2em;
}

.experience {
  transition: 0.5s;
  padding: 2em;
  border: 2px solid #ff900e;
  border-radius: 8px;
  text-align: center;
  width: 240px;
}
.experience:hover {
  transform: scale(1.1);
}
.count {
  font-size: 2em;
  color: #131313;
}
.experience img {
  width: 45px;
}
.experience .desc {
  padding: 0.4em 0;
}

/* ** Sponser Section ** */
.sponser-head {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}
.sponser-primary {
  color: #ff900e;
}
.sponser-img {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* gap: 2em; */
  padding-top: 3em;
}
.sponser-img img {
  width: 9em;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: 0.5s;
}
.sponser-img img:hover {
  transform: scale(1.3);
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

/* ** Contact Section ** */
.contact-section {
  display: flex;
}
.contacts {
  display: flex;
  flex-direction: column;
  gap: 2em;
  width: 40%;
}
.contact {
  text-align: center;
  transition: 0.5s;
  cursor: pointer;
}
.contact:hover {
  transform: scale(1.1);
}
.contact img {
  width: 100px;
}
.contact-title {
  font-size: 1.3em;
}
.contact .desc {
  padding: 0;
}
.contact-form {
  padding-left: 4em;
  border-left: 5px solid #ff900e;
}
.form-primary {
  color: #ff900e;
}
.form-title {
  font-size: 2em;
}
form {
  width: 60%;
  display: flex;
  flex-direction: column;
}
form input,
textarea {
  padding: 0.6em;
  font-size: 1.3em;
  margin: 1em 0;
  border-radius: 8px;
  border: 2px solid #ff900e;
  color: #424242;
}
form input,
textarea:focus {
  outline-color: #f6b870;
}
form .btn-primary {
  width: 200px;
}

/* ** Footer ** */
footer {
  background-color: #424242;
  color: #fff;
  text-align: center;
  padding: 2em 0;
}
/* ** Responsive CSS ** */
/* * Header section */
@media screen and (max-width: 576px) {
  .head-section,
  .hero-section,
  main {
    max-width: 100%;
  }
  .section {
    padding: 2.5em 0;
  }
  .desc {
    font-size: 0.8em;
  }
  .hero-section {
    padding: 0 0 1em 0;
  }
  .head-section {
    flex-direction: column;
  }
  .logo h3 {
    font-size: 2em;
  }
  .navbar ul {
    gap: 1em;
    flex-direction: column;
    padding-top: 1em;
  }
  .hero-details {
    width: 100%;
    padding-bottom: 1em;
  }
  .hero-title {
    font-size: 1.5em;
  }
  .btn-primary {
    font-size: 1em;
  }
  .section-title {
    font-size: 1.3em;
  }
  footer {
    font-size: 0.4em;
    padding: 1em 0;
  }
}

/* * About section * */
@media screen and (max-width: 576px) {
  .about-section {
    flex-direction: column-reverse;
  }
  .about-img {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* * Features section * */
@media screen and (max-width: 576px) {
  .features-section {
    flex-direction: column;
  }
  .features {
    padding: 1em;
  }
  .feature {
    padding: 0.5em 0;
  }
  .feature-title {
    font-size: 1.1em;
  }
  .features-img .btn-primary {
    font-size: 2em;
    left: 0em;
    bottom: -1em;
  }
}

/* * Experience section * */
@media screen and (max-width: 576px) {
  .experience-head {
    width: 100%;
  }
  .experiences {
    flex-direction: column;
    gap: 1em;
    padding: 1em 0;
  }
}

/* * Sponser Section * */
@media screen and (max-width: 576px) {
  .sponser-head {
    width: 100%;
  }
  .sponser-img {
    padding-top: 1em;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1em;
  }
  .sponser-img img {
    width: 4em;
  }
}

/* * Contact Section * */
@media screen and (max-width: 576px) {
  .contact-section {
    flex-direction: column-reverse;
    gap: 2em;
  }
  .contacts {
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
  }
  .contact img {
    width: 20px;
  }
  .contact {
    width: 25%;
    border: 1px solid #ff900e;
    padding: 5px;
  }
  .contact-title {
    font-size: 1em;
  }
  .contact .desc {
    font-size: 0.5em;
    padding: 0;
    line-height: 10px;
  }
  .form-title {
    font-size: 1.3em;
  }
  form {
    width: 100%;
  }
  .contact-form {
    padding: 0;
    border: 0;
  }
  form input,
  textarea {
    padding: 0.6em;
    font-size: 1.3em;
    border-radius: 8px;
    border: 1px solid #ff900e;
    margin: 0.3em 0;
    font-size: 1em;
  }
  form .btn-primary {
    width: 150px;
  }
}
